<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">    
  </head>
  <body>
  <div id="divboard">
       {% for key, value in parent_list.items() %}
       <span class="LeaderboardSpacing">     
          <span class="LeaderboardText">{{key}}</span>
          <span class="LeaderboardNumbers">{{value.wins}}</span>
          <span class="LeaderboardSymbols">- </span>
          <span class="LeaderboardNumbers">{{value.losses}}</span>
       </span>    
       {% endfor %}      
    </div>
  </body>