<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css">      
  </head>
  <body>
    <div class="match" id="divmatch">
      <div class="player">{{ P1Name }}</div>
      <div class="VersusText">Vs.</div>
      <div class="player">{{ P2Name }}</div>
    </div>
  </body>
</html>